<footer class="c-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted"><small>&copy; {{ site.time | date: '%Y' }} {{ site.company }}. All rights reserved.</small></p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss fa-fw"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>