<!--[if lt IE 9]>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong>
            <p>It looks like you're using an old browser. This site may not work properly because your browser doesn't support current web standards. Using an outdated browser also makes your computer vulnerable. Please update to the latest version of a web standards compliant browser. It's free, simple, and safer.</p>

            <p><a href="http://browsehappy.com/" target="_blank">Upgrade my browser</a></p>
        </div>
    </div>
<![endif]-->
