// --------------------------------------------------------------
// Override Bootstrap Variables
// --------------------------------------------------------------

$font-size-base: 18px;
$navbar-height: 60px;


// --------------------------------------------------------------
// Custom Variables
// --------------------------------------------------------------

// For syntax highlighting
$spacing-unit: 30px;

$footer-height: 180px;

// Standardized spacing
$gap-xl: 80px;
$gap-lg: 40px;
$gap-md: 20px;
$gap-sm: 10px;
$gap-xs: 5px;

// Custom colors
$color-border: #e1e1e1;